<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Operaçao Limpeza - Adm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style2.css" />
	<link rel="stylesheet" href="/css/style3.css" />
	<link rel="stylesheet" href="/css/style-Ran.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <div class="botoes">
        <!-- Mostra dados do usuário -->
        <div class="container-usuarios">
            <p>Olá, {{user.nome}}</p>
            <form action="/logout" method="post">
            <button class="bt_sair sombra" type="submit">
             <span class="icone fa-icon fa-sign-out"></span> <!-- Define icone para o botão -->
             Sair
            </button>
            </form>
        </div>

        <button onclick="showForm('cadastroSolucaoForm')">Cadastrar Solução</button>
        <button onclick="showTable()">Visualizar Problemas</button>
    </div>

    <main>
        <div class="cadsolucao" id="cadastroSolucaoForm" style="display: none;">
            <form action="/enviar-solucao" method="post" enctype="multipart/form-data">
                {{#if error}}
                <div class="error-message">{{error}}</div>
                {{/if}}
                <h3>Detalhes da Solução:</h3>
                <label for="id_ocorrencia">ID-OCORRÊNCIA:</label>
                <input type="number" id="id_ocorrencia" name="id_ocorrencia" maxlength="4" required
                    placeholder="Digite o id da ocorrencia que deseja cadastrar solucao" />

                <label for="descricao_solucao">Descrição da Solução:</label>
                <textarea id="descricao_solucao" name="descricao_solucao" maxlength="255" required
                    placeholder="Exemplo: solucao resolvida no dia tal "></textarea>

                <label for="foto_da_solucao">Foto da Solução:</label>
                <input type="file" id="foto_da_solucao" name="foto_da_solucao" accept="image/*" required />
                <input type="submit" value="Enviar" />
            </form>
        </div>


        <div class="tabelaproblema" id="tabelaProblema">
            <h2>PROBLEMAS NAS VIAS</h2>
            <div class="problema-container">
                {{#each problemas}}
                <div class="problema-item">
                    <div class="problema-info">
                        <p><strong>ID-Ocorrência:</strong> {{this.id_ocorrencia}}</p>
                        <p><strong>Descrição:</strong> {{this.descricao_da_ocorrencia}}</p>
                        <p class="status"><strong>Status:</strong> {{this.status_da_ocorrencia}}</p>

                    </div>
                    <div class="problema-foto">
                        <img src="{{this.foto_da_ocorrencia}}" alt="Foto da Ocorrência" class="img-problema" />
                    </div>
                    <div class="problema-acoes">
                        <button onclick="showPopupsolucao('{{this.id_ocorrencia}}')">Solução</button>
                        <button onclick="showPopuproblemas('{{this.id_ocorrencia}}')">Detalhes</button>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        <div id="popupContainerSolucao" class="popupContainerSolucao" style="display: none;">
            <span class="closeBtn" onclick="closePopupsolucao()">&times;</span>
            <h2>Tabela de Soluções</h2>
            <div class="solucoes-container">
                <!-- Loop para cada solução -->
                {{#each problemas}} <!-- supondo que você tenha um array de solucoes -->
                <div class="solucao-item" data-id="{{this.id_ocorrencia}}">
                    <div class="descricao-solucao">
                        <p><strong>Descrição da Solução:</strong> {{this.descricao_solucao}}</p>
                    </div>
                    <div class="foto-solucao">
                        <!-- Expanda a imagem da solução -->
                        <a href="#imagemSolucao{{this.id_ocorrencia}}">
                            <img src="{{this.foto_da_solucao}}" alt="Foto da Solução" class="img-solucao" />
                        </a>
                    </div>
                </div>

                <!-- Conteúdo da imagem expandida para a solução -->
                <div class="imagem-expandida" id="imagemSolucao{{this.id_ocorrencia}}">
                    <img src="{{this.foto_da_solucao}}" alt="Foto da Solução" />
                    <a href="#" class="fechar">&#x2716;</a>
                </div>

                {{/each}}
                <!-- Fim do loop -->
            </div>
        </div>

        <div id="popupContainerproblemas" class="popupContainerproblemas" style="display: none;">
            <span class="closeBtn" onclick="closePopuproblemas()">&times;</span>
            <h2>Tabela de Problemas</h2>
            <div class="vertical-list">
                {{#each problemas}}
                <div class="item" data-id="{{this.id_ocorrencia}}">
                    <p><strong>ID-Ocorrência:</strong> {{this.id_ocorrencia}}</p>
                    <p><strong>ID-Usuário:</strong> {{this.id_usuario}}</p>
                    <p><strong>tipo da ocorrencia:</strong> {{this.tipo_da_ocorrencia}}</p>
                    <p><strong>Endereço:</strong> {{this.end_ocorrencia}}</p>
                    <p><strong>Bairro:</strong> {{this.bairro}}</p>
                    <p><strong>Descrição:</strong> {{this.descricao_da_ocorrencia}}</p>
                    <p><strong>Foto da Ocorrência:</strong> <a href="#imagem{{this.id_ocorrencia}}"><img
                                src="{{this.foto_da_ocorrencia}}" alt="Foto da Ocorrência"
                                style="max-width: 50px; max-height: 50px;" /></a></p>

                </div>
                {{/each}}
            </div>
        </div>

    </main>

    <script>
        function showForm(formId) {

            const tabelaProblema = document.getElementById('tabelaProblema');
            if (formId === 'cadastroProblemaForm') {
                tabelaProblema.style.display = 'none';
            } else {
                tabelaProblema.style.display = 'flex';
            }

            const formCadsolucao = document.getElementById('cadastroSolucaoForm');
            if (formId === 'cadastroSolucaoForm') {
                formCadsolucao.style.display = 'flex';
            } else {
                formCadsolucao.style.display = 'none';
            }

            // Oculta a tabela de soluções quando mudar de formulário
            const popupContainerSolucao = document.getElementById('popupContainerSolucao');
            popupContainerSolucao.style.display = 'none';
        }

        function showTable() {
            const forms = document.querySelectorAll('.container-formulario');
            forms.forEach(form => {
                form.style.display = 'none';
            });

            const tabelaProblema = document.getElementById('tabelaProblema');
            tabelaProblema.style.display = 'flex';

            const formCadsolucao = document.getElementById('cadastroSolucaoForm');
            formCadsolucao.style.display = 'none';

            // Oculta a tabela de soluções quando clicar em visualizar problemas
            const popupContainerSolucao = document.getElementById('popupContainerSolucao');
            popupContainerSolucao.style.display = 'none';
        }

        function showPopuproblemas(id_ocorrencia) {
            var popup = document.getElementById("popupContainerproblemas");
            popup.style.display = "flex";

            // Ocultar todas as tabelas inicialmente
            var allTables = document.querySelectorAll("#popupContainerproblemas .item");
            allTables.forEach(table => {
                table.style.display = "none";
            });

            // Exibir apenas a tabela relevante com base no id_ocorrencia
            var targetTable = document.querySelector(`#popupContainerproblemas .item[data-id="${id_ocorrencia}"]`);
            if (targetTable) {
                targetTable.style.display = "flex";
            }
        }

        function closePopuproblemas() {
            var popup = document.getElementById("popupContainerproblemas");
            popup.style.display = "none";
        }

        function showPopupsolucao(id_ocorrencia) {
            // console.log("Chamada da função showPopupsolucao com ID de ocorrência:", id_ocorrencia);

            var popup = document.getElementById("popupContainerSolucao");
            popup.style.display = "block";

            // Ocultar todos os itens de solução inicialmente
            var solucoes = document.querySelectorAll("#popupContainerSolucao .solucao-item");
            solucoes.forEach(function (solucao) {
                solucao.style.display = "none";
            });

            // Exibir apenas o item de solução correspondente ao ID da ocorrência
            var solucaoEspecifica = document.querySelector(`#popupContainerSolucao .solucao-item[data-id="${id_ocorrencia}"]`);
            if (solucaoEspecifica) {
                solucaoEspecifica.style.display = "flex";
            } else {
                // console.warn(`Nenhuma solução encontrada para a ocorrência com ID ${id_ocorrencia}`);
            }
        }

        function closePopupsolucao() {
            var popup = document.getElementById("popupContainerSolucao");
            popup.style.display = "none";
        }

        document.addEventListener('DOMContentLoaded', function () {
            var statusElements = document.querySelectorAll('.problema-info .status');
            statusElements.forEach(function (statusElement) {
                if (statusElement.textContent.includes('1')) {
                    statusElement.innerHTML = '<strong>Status:</strong> <span class="em-andamento">Em andamento</span>';
                } else {
                    statusElement.innerHTML = '<strong>Status:</strong> <span class="concluido">Concluído</span>';
                }
            });
        });
    </script>
</body>

</html>