<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8" />
    <title>Operaçao Limpeza - Usuário</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- --><link rel="stylesheet" href="/css/style2.css" /> 
  	<!-- <link rel="stylesheet" href="/css/style3.css" /> -->
		<link rel="stylesheet" href="/css/style-Ran.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="bgSizeCover>
  <form action=" /logout" method="post">
  <button class="topo bt_sair translacao_bt_sair sombra" type="submit">
    <span class="icone fa-icon fa-sign-out"></span> <!-- Define icone para o botão -->
    Sair
  </button>
  </form>



  <centrar>

    <div class="area_conteudo borda_green-40 borda_arredond-8 tam_min-max-2 sombra">
      <main>
        <header>
          <div class="titulos borda_arredond-8">
            <h5 class="disposicao_titulos">
              <!-- Mostra dados do usuário -->
              <div class="container-usuarios">
                <p>Olá, {{user.nome}}</p>
              </div>
              Nesta área do site é possível informar um problema ou visualizar um problema cadastrado anteriormente.
            </h5>
          </div>
        </header>

        <div class="centralizar disposicao_conteudo">
          <span class="info">
            <p>
              O que você deseja?
              <hr>
            </p>
          </span>
          <table>
            <tr>
              <td>
                <img src="https://upload.wikimedia.org/wikipedia/commons/7/72/Disambig.svg" width="35" height="28">
              </td>
              <td class="info">
                Escolha uma das opções abaixo.
              </td>
            </tr>
          </table>


          <div class="botoes">
            <button class="botao_blue-50" onclick="showForm('cadastroProblemaForm')">Informar um problema</button>
            <button class="botao_blue-50" onclick="showTable()">Visualizar um problema cadastrado</button>
          </div>






          <!-- Esta div contém o formulário usado para informar um problema -->
          <div class="container-formulario" id="cadastroProblemaForm" style="display: none;">
            <h2>Formulário de Incidentes de Via</h2>
            <form action="/enviar-formulario" method="post" enctype="multipart/form-data">

              <h3>Gravidade da Ocorrência:</h3>
              <div class="container-label">
                <label><input type="radio" name="gravidade_da_ocorrencia" value="Baixa" required />
                  Baixa</label>
                <label><input type="radio" name="gravidade_da_ocorrencia" value="Media" required />
                  Media</label>
                <label><input type="radio" name="gravidade_da_ocorrencia" value="Alta" required />
                  Alta</label>
              </div>


              <h3>Detalhes da Ocorrência:</h3>
              <label for="endereco">Endereço:</label>
              <input type="text" id="end_ocorrencia" name="end_ocorrencia" maxlength="100" required
                placeholder="Digite o endereco" />

              <label for="bairro">Bairro:</label>
              <input type="text" id="bairro" name="bairro" maxlength="50" required placeholder="Digite o bairro" />

              <label for="cep">CEP:</label>
              <input type="text" id="cep" name="cep" maxlength="8" required
                placeholder="Digite apenas os 8 dígitos do CEP" />

              <label for="descricao">Descrição da Ocorrência:</label>
              <textarea id="descricao_da_ocorrencia" name="descricao_da_ocorrencia" required maxlength="255"
                placeholder="Exemplo: buracao de tal tamanho localizado na altura da rua tal"></textarea>

              <label for="foto-ocorrencia">Foto da Ocorrência:</label>
              <input type="file" id="foto_da_ocorrencia" name="foto_da_ocorrencia" accept="image/*" required />

              <label for="foto-mapa">Foto do Mapa da Ocorrência:</label>
              <input type="file" id="foto_mapa_da_localizacao" name="foto_mapa_da_localizacao" accept="image/*" />

              <input type="submit" value="Enviar" />
            </form>
          </div>



          <!-- Esta div contém a tabela que mostra os problemas cadastrados pelo usuário -->
          <div class="tabelaproblema" id="tabelaProblema">
            <h2>Problemas cadastrados</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>ID-Ocorrência</th>
                  <th>Descrição</th>
                  <th>Status</th>
                  <th>Foto</th>
                  <th>Detalhes/Solução</th>
                </tr>
              </thead>

              <tbody>
                {{#each problemas}}
                <tr>
                  <td>{{this.id_ocorrencia}}</td>
                  <td>{{this.descricao_da_ocorrencia}}</td>
                  <td>{{this.status_da_ocorrencia}}</td>
                  <td>
                    <img src="{{this.foto_da_ocorrencia}}" alt="Foto da Ocorrência"
                      style="width: 65px; height: 40px;" />
                  </td>
                  <td class="acoes">
                    <button onclick="showPopupsolucao('{{this.id_ocorrencia}}')">Solução</button>
                    <button onclick="showPopuproblemas('{{this.id_ocorrencia}}')">Detalhes</button>
                  </td>
                </tr>
                {{/each}}
              </tbody>
            </table>




          </div>



          <!-- Esta div contém a tabela que mostra os soluções para os problemas cadastrados pelo usuário -->
          <div id="popupContainerSolucao" class="popupContainerSolucao" style="display: none;">
            <span class="closeBtn" onclick="closePopupsolucao()">&times;</span>
            <h2>Tabela de Soluções</h2>
            <table class="table">
              <thead>
                <tr>
                  <th>Descrição da Solução</th>
                  <th>Foto da Solução</th>
                </tr>
              </thead>
              <tbody>
                <!-- Loop para cada solução -->
                {{#each problemas}}
                <!-- supondo que você tenha um array de solucoes -->
                <tr class="item" data-id="{{this.id_ocorrencia}}">
                  <td>{{this.descricao_solucao}}</td>
                  <td>
                    <!-- Expanda a imagem da solução -->
                    <a href="#imagemSolucao{{this.id_ocorrencia}}"><img src="{{this.foto_da_solucao}}"
                        alt="Foto da Solução" style="width: 65px; height: 40px;" /></a>
                  </td>
                </tr>
                <!-- Conteúdo da imagem expandida para a solução -->


                <div class="imagem-expandida" id="imagemSolucao{{this.id_ocorrencia}}">
                  <img src="{{this.foto_da_solucao}}" alt="Foto da Solução" />
                  <a href="#" class="fechar">&#x2716;</a>
                </div>


                {{/each}}
                <!-- Fim do loop -->
              </tbody>
            </table>
          </div>



          <!-- Esta div contém a tabela que mostra os detalhes dos problemas cadastrados pelo usuário -->
          <div id="popupContainerproblemas" class="popupContainerproblemas" style="display: none;">
            <span class="closeBtn" onclick="closePopuproblemas()">&times;</span>
            <h2>Tabela de Problemas</h2>
            <div class="vertical-list">
              {{#each problemas}}
              <div class="item" data-id="{{this.id_ocorrencia}}">
                <p><strong>ID-Ocorrência:</strong> {{this.id_ocorrencia}}</p>
                <p><strong>ID-Usuário:</strong> {{this.id_usuario}}</p>
                <p><strong>Gravidade:</strong> {{this.gravidade_da_ocorrencia}}</p>
                <p><strong>Endereço:</strong> {{this.end_ocorrencia}}</p>
                <p><strong>Bairro:</strong> {{this.bairro}}</p>
                <p><strong>Descrição:</strong> {{this.descricao_da_ocorrencia}}</p>
                <p><strong>Foto da Ocorrência:</strong> <a href="#imagem{{this.id_ocorrencia}}"><img
                      src="{{this.foto_da_ocorrencia}}" alt="Foto da Ocorrência"
                      style="max-width: 50px; max-height: 50px;" /></a></p>
                <p><strong>Foto do Mapa:</strong> <a href="#mapa{{this.id_ocorrencia}}"><img
                      src="{{this.foto_mapa_da_localizacao}}" alt="Foto do Mapa"
                      style="max-width: 75px; max-height: 75px;" /></a></p>
                <div class="imagem-expandida" id="imagem{{this.id_ocorrencia}}">
                  <img src="{{this.foto_da_ocorrencia}}" alt="Foto da Ocorrência" />
                  <a href="#" class="fechar">&#x2716;</a>
                </div>
                <div class="imagem-expandida" id="mapa{{this.id_ocorrencia}}">
                  <img src="{{this.foto_mapa_da_localizacao}}" alt="Foto do Mapa" />
                  <a href="#" class="fechar">&#x2716;</a>
                </div>
              </div>
              {{/each}}
            </div>
          </div>

        </div>


      </main>
    </div>
    <!-- Script que etava aqui agora esta no arquivo xxx.js 
    <script type="Text/javascript" src="/js/xxx.js"></script>-->
        <script>
      function showForm(formId) {
        const forms = document.querySelectorAll('.container-formulario');
        forms.forEach(form => {
          if (form.id === formId) {
            form.style.display = 'flex';
          } else {
            form.style.display = 'none';
          }
        });

        const tabelaProblema = document.getElementById('tabelaProblema');
        if (formId === 'cadastroProblemaForm') {
          tabelaProblema.style.display = 'none';
        } else {
          tabelaProblema.style.display = 'flex';
        }

        const formCadsolucao = document.getElementById('cadastroSolucaoForm');
        if (formId === 'cadastroSolucaoForm') {
          formCadsolucao.style.display = 'flex';
        } else {
          formCadsolucao.style.display = 'none';
        }

        // Oculta a tabela de soluções quando mudar de formulário
        const popupContainerSolucao = document.getElementById('popupContainerSolucao');
        popupContainerSolucao.style.display = 'none';
      }

      function showTable() {
        const forms = document.querySelectorAll('.container-formulario');
        forms.forEach(form => {
          form.style.display = 'none';
        });

        const tabelaProblema = document.getElementById('tabelaProblema');
        tabelaProblema.style.display = 'flex';

        const formCadsolucao = document.getElementById('cadastroSolucaoForm');
        formCadsolucao.style.display = 'none';

        // Oculta a tabela de soluções quando clicar em visualizar problemas
        const popupContainerSolucao = document.getElementById('popupContainerSolucao');
        popupContainerSolucao.style.display = 'none';
      }

      function showPopuproblemas(id_ocorrencia) {
        var popup = document.getElementById("popupContainerproblemas");
        popup.style.display = "flex";

        // Ocultar todas as tabelas inicialmente
        var allTables = document.querySelectorAll("#popupContainerproblemas .item");
        allTables.forEach(table => {
          table.style.display = "none";
        });

        // Exibir apenas a tabela relevante com base no id_ocorrencia
        var targetTable = document.querySelector(`#popupContainerproblemas .item[data-id="${id_ocorrencia}"]`);
        if (targetTable) {
          targetTable.style.display = "flex";
        }
      }

      function closePopuproblemas() {
        var popup = document.getElementById("popupContainerproblemas");
        popup.style.display = "none";
      }

      function showPopupsolucao(id_ocorrencia) {
        console.log("Chamada da função showPopupsolucao com ID de ocorrência:", id_ocorrencia);
        var popup = document.getElementById("popupContainerSolucao");
        popup.style.display = "block";

        // Ocultar todas as linhas da tabela de soluções inicialmente
        var tableRows = document.querySelectorAll("#popupContainerSolucao tbody .item");
        tableRows.forEach(row => {
          row.style.display = "none";
        });

        // Exibir apenas as linhas da tabela com o ID de ocorrência correspondente
        var targetRows = document.querySelectorAll(`#popupContainerSolucao tbody .item[data-id="${id_ocorrencia}"]`);
        targetRows.forEach(row => {
          row.style.display = "table-row"; // Mostrar a linha da tabela
        });
      }

      function closePopupsolucao() {
        var popup = document.getElementById("popupContainerSolucao");
        popup.style.display = "none";
      }
      document.addEventListener('DOMContentLoaded', function () {
        var statusCells = document.querySelectorAll('.tabelaproblema tbody td:nth-child(3)');
        statusCells.forEach(function (cell) {
          if (cell.textContent.trim() === '1') {
            cell.innerHTML = '<span class="em-andamento">Em andamento</span>';
          } else {
            cell.innerHTML = '<span class="concluido">Concluído</span>';
          }
        });
      });
    </script>
  </centrar>
</body>

</html>